@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom,#196774,#90A19D);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #636e6cfa;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#196774;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2 {
    color: #90A19D;
}

p {
    text-align: justify;
}